<!DOCTYPE html>
<html>
  <head>
    <title>MyRecommendedBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body style='margin: 0;, padding: 0;'>
    <%= yield %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
